<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/edit.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tryon Experiences Edit Page</title>
  </head>

  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="editBox">
    <h1>Edit Location</h1>
    <form  action="/tryon-experiences/<%=location.id%>?_method=PUT" method="POST">
    <fieldset class="editPage">

      <p>Name:</p><input type="text" name="name" value="<%=location.name%>" />
      <p>ImageA:</p> <input type="text" name="imgA" value="<%=location.imgA%>" />
      <p>ImageB:</p> <input type="text" name="imgB" value="<%=location.imgA%>" />
      <p>ImageC:</p> <input type="text" name="imgC" value="<%=location.imgA%>" />
      <p>TextA:</p> <input type="text" name="textA" value="<%=location.textA%>" />
      <p>TextB:</p> <input type="text" name="textB" value="<%=location.textB%>" />
      <p>TextC:</p> <input type="text" name="textC" value="<%=location.textC%>" />
      <p Class="description">Description:</p><br /><textarea  name="description" rows="4" ><%=location.description%></textarea>

      <input class="Submit" type="submit"  value="Submit">

      </fieldset>
    </form>
      </div>

  </body>
</html>
