<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/edit.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tryon Experiences</title>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="editBox">
    <h1>Edit Location</h1>
    <form  action="/tryon-experiences/<%=location.id%>?_method=PUT" method="POST">
    <fieldset class="editPage">
      <legend>Edit</legend>
      Name: <input type="text" name="name" value="<%=location.name%>" /><br />
      Image: <input type="text" name="img" value="<%=location.img%>" /><br />
      Description: <input type="text" name="description" value="<%=location.description%>" /><br />
      <input type="submit"  value="Submit">

      </fieldset>
    </form>
      </div>

  </body>
</html>
