<!DOCTYPE html>
<html lang="en" dir="ltr">


  <head>
    <%- include ('../partials/head.ejs') %>
    <%- include ('../partials/boot.ejs') %>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/global.css">
    <title></title>
  </head>
  <body>
      <%- include ('../partials/nav.ejs') %>

      <% if (currentUser) { %>
      <h1 class="welcome">Welcome to Tryon Experiences</h1><h1 class="name"> <%= currentUser.username %></h1>
      <% } else { %>
      <h1 class="welcome">Welcome to Tryon Experiences</h1>
      <% } %>

      <img src="https://lh3.googleusercontent.com/4ICYG5rT3PLdlr5MKTgyr_oLjkLXC_8oHQV-vcFJYxvvMuQ4wRX2hxFDBu17KWrJw6hleVdEHHDO2E6uiotAKFNIgZsqGGAzwBjcrqA8CZlOGfzrnMkp6Bn9EPHO5krg0ykRLctHYG0=w2400" alt="">
      <div class="video">
      <iframe  src="https://www.youtube.com/embed/f5ikfR2hnKA" autoplay="autoplay" control="mute" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
<!-- ==========CODE PIN Banner========== -->

<div class="picBlock">
  <h2 class="statement top">Explore the great PNW</h2>
  <h2 class="statement bottom">Your adventure awaits</h2>
</div>
<!-- ==========CODE PIN Banner========== -->

<img Class="lighthouse" src="https://lh3.googleusercontent.com/IAP05KIH86JCYQPGk2mme_wi0hQh7mQreyV-BdHN12Jvn0O0c8kVj2y1yhlLUJ9h5fWHX24KKpL11cS_wXdht2fPuQfgN-gjzSyzS4qOKUHFi9JUa_xPzBfXVlyGY3r6d0vViKp5DF4=w2400" alt="">
</div>

<!-- ==========Footer========== -->
<footer>
<%- include ('../partials/footer.ejs') %>
</footer>



  </body>
</html>
