<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
<title>Gallery</title>
  <%- include ('../partials/head.ejs') %>

  <link rel="stylesheet" href="/index.css">

</head>

<body>
<nav>
    <%- include ('../partials/nav.ejs') %>
</nav>
  <img class="ocean" src="/Imgs/sky.jpg" alt="">
  <!-- START THE FEATURETTES -->
  <% for(let i = 0; i < locations.length; i++) { %>
  <hr class="featurette-divider">

  <div class="row featurette block" id=<%=locations[i].name%>>
    <div class="col-md-7" >
      <a class="h2" href="tryon-experiences/<%=locations[i].id %>"><h2 class="featurette-heading name"><%=locations[i].name%></h2></a>

      <p><%=locations[i].description%></p>
    </div>
    <div class="col-md-5 image">
        <a href="tryon-experiences/<%=locations[i].id %>"><img src="<%=locations[i].imgA%>" /></a>
      </div>
  </div>
  <% } %>
<footer>
  <%- include ('../partials/footer.ejs') %>
</footer>
</body>

</html>
