<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
<title>Gallery</title>
  <%- include ('../partials/head.ejs') %>

  <%- include ('../partials/boot.ejs') %>
  <link rel="stylesheet" href="/carousel.css">
  <link rel="stylesheet" href="/index.css">

</head>

<body>
  <%- include ('../partials/nav.ejs') %>
  <% if (currentUser) { %>
  <h1>Welcome to Tryon Experiences <%= currentUser.username %></h1>
  <% } else { %>
  <h1>Welcome to Tryon Experiences %></h1>
  <% } %>

  <!-- START THE FEATURETTES -->
  <% for(let i = 0; i < locations.length; i++) { %>
  <hr class="featurette-divider">

  <div class="row featurette block" id=<%=locations[i].name%>>
    <div class="col-md-7" >
      <h2 class="featurette-heading"><%=locations[i].name%></h2>
      <p><%=locations[i].description%></p>

    </div>
    <div class="col-md-5 image">
        <a href="tryon-experiences/<%=locations[i].id %>"><img src="<%=locations[i].imgA%>" /></a>
      </div>
  </div>
  <% } %>

</body>

</html>
