<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="/main.css">

  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>

    <h1>Welcome to Tryon Experiences</h1>
    <% for(let i = 0; i < locations.length; i++) { %>
      <h2><%=locations[i].name; %></h2>
    <div class="container">
      <a href="tryon-experiences/<%=locations[i].id; %>"><img src="<%=locations[i].img%>"</a>
    </div>
    <% } %>
  </body>
</html>
