<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
      <%- include ('../partials/nav.ejs') %>
    <h1>Welcome to Tryon Experiences</h1>
    <% for(let i = 0; i < locations.length; i++) { %>
      <h2><%=locations[i].name%></h2>
      <a href="tryon-experiences/<%=locations[i].id; %>"><img src="<%=locations[i].img%>"/></a>

    <% } %>
  </body>
</html>
